---
import Content from "../../components/content.astro";
import Layout from "../../layouts/layout.astro";

const title = "Photos | nfordui";
---
<Layout title={title}>
  <div class="mb-10">
    <h1 class="text-6xl md:text-7xl font-light text-payne_gray dark:text-silver_gray leading-[1.1] transition-colors duration-200">
      Photos
    </h1>
  </div>

  <Content>
    <p>
      To be done
    </p>
  </Content>
</Layout>