---
  import ContactMe from "../../components/ContactMe.astro";
  import Layout from "../../layouts/layout.astro";

  const title = "Contact | Nikita Fordui";
---
<Layout title={title}>
  <header class="mb-12">
    <h1
      class="text-4xl md:text-5xl font-normal text-ink dark:text-ink_dark tracking-tight"
    >
      Contact
    </h1>
  </header>

  <ContactMe/>
</Layout>
