---
// Blog main page
const title = "Nikiandr Blog";
const description = "To be done";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body>
    <h2>{description}</h2>
	<p>Into a cool little blog</p>
  </body>
</html>