---
import Layout from "../layouts/layout.astro";

const title = "Some Blog";
---
<Layout title={title}>
  <h1 class="text-center text-3xl">
    To be done
  </h1>
  <div class="px-12 py-4">
    <p class="px-4">
      Some day when I have more time I will finish this blog and post here my thoughts.
    </p>
    <p class="px-4">
      Now it is just a placeholder with some first version of design.
    </p>
  </div>
</Layout>