---
import Content from "../../components/content.astro";
import Layout from "../../layouts/layout.astro";

const title = "About Me | nfordui";
---
<Layout title={title}>
  <div class="text-center mb-12">
    <h1 class="text-5xl font-light text-payne_gray mb-4 leading-snug">
      About Me
    </h1>
  </div>

  <Content>
    <p>
      To be done
    </p>
  </Content>
</Layout>